body{
    background-color: #b17651;
}
title{
    line-height: 2;
}
.header{
    background-color: #2B2928;
    padding: 1rem;
    color: white;
}
.header img{
    color: white;
    width: 9rem;
    padding-top: 1rem;
}
.header h1{
    padding
}
.gallery{
}

.order{
    font-size: 40px;
}
.contact{
    font-size: 40px;
}
.footer{
    background-color: #2B2928;
    color: white;
    font-size: 18px;
}
.email{
    font-size: 45px;
}
.menunav{
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
}
.title-logo img{
    width: 33px;
    padding-bottom: 24px;
}
.title-logo{
}
.title-main{
    font-weight: bold;
}
.burger-sc{
}
.about-sc{
    background-color: white;
}
.about-sc p{
}
.article{
    background-color: white;
}
.order-now{
    background-color: red;
}
.gallery img{
    width: 295px;
}
.gallery-title{
    color: white;
}
.line-dec{
    background-color: white;
    height: 5px;
}
.rev{
    background-color: white;
}
.videotitle{
    color: white;
}
.question{
    background-color: white;
}
.article2{
    color: white;
    background-color: #2B2928;
}
.burger-inf img{
    height: 700px;
}
.send-it{
    background-color: red;
    color: white;
}
.contacts img{
    width: 20px;
}
.video iframe{
    height: 450px;
}
.box-table th{
    border: 2px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}
tbody td{
    border: 2px solid black;
}
tbody{
    border-bottom: 2px solid black;
}
.table-numbers{
    width: 100px;
}
.add-button{
    background-color: red;
    border: none;
    color: white;
}
.add-input{
    width: 74%;
}
.add-button{
    width: 25%;
    border: 2px solid red;
    border-radius: 4px;
}